<form class='form-product-ajax' method='POST' data-endpoint='{% url "cart:update" %}' class="form"> {% csrf_token %}
    <input type="hidden" name="product" value="{{ product.id }}" />

    <!-- {% if in_cart %}
        <button type='submit' class="btn btn-warning btn-sm" style="padding:0px; cursor: pointer;">Remove</button>
    {% else %}

    {% endif %} -->
    
    <span class='submit-span'>
    {% if product in cart.products.all %}
        <button type='submit' class="btn btn-warning">Remove</button>
    {% else %}
        <button class="btn btn-success">Add to cart</button>
    {% endif %}
    </span>
</form>